body {
    background-image: url('BgIMG.jpg');
    background-repeat: no-repeat;
  }
  h1, h2{
      color:rgb(152, 234, 255)
  }
  p{
      color:rgb(156, 255, 98);
      font-family: Berlin Sans FB;
      font-size: larger;
      text-align: center;
  }
  hr{height: 5px;
     color:rgb(255, 83, 83);
     background-color: rgb(255, 83, 83);}
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  img:hover{
      opacity:0.75;
  }
  